.App {
  text-align: center;
  background-color: #EEEEEE;
}

.AppContainer {
  background-color: white;
  width: 800px;
  height: calc(100vh - 110px);
}

.AppBody {
  height: 100%;
}

.App-header {
  background-color: #282c34;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-footer {
  background-color: #282c34;
  height: 50px;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
}

.App-link {
  color: #09d3ac;
}

.ProfileTitle {
  text-align: left;
  margin-bottom: 5px;
  font-size: calc(10px + 2vmin);
}

.Playlist {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: calc(1.75vmin);
  vertical-align: middle;
  line-height: 32px;
}

.Playlist:hover {
  background-color: #E8E8E8;
  cursor: default;
}


.ProfileContainer {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.ProgressBarTitle {
  font-size: calc(1.9vmin);
  text-align: left;
  padding-left: 10px;
  padding: 4px;
  width: 100%;
}

.ProgressBar {
  height: 20px
}

.LinkedAccountContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.PlaylistLinkButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.SyncPlaylistButton {
  height: 32px;
  width: 32px;
  background-size: 32px 32px;
}

.LinkAccountButton {
  height: 140px;
  width: 140px;
  background-size: 140px 140px;
}

.SyncPlaylistContainer {
  display: flex;
  justify-content: space-around;
  width: 90px;
}

.GenericContainer {
  display: flex;
  justify-content: center;
}

.GenericContainerBody {
  width: 80%;
}

.scrollable {
  overflow: scroll;
  height: calc(100vh - 440px);
}

.threehundo {
  height: 220px;
}

.rest {
  width: 100%;
  text-align: left;
  padding-left: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.BasicPad {
  padding-left: 15px;
  padding-right: 10px;
  font-color: white;
}

.SongCountRight {
  width: 100px;
  text-align: right;
}

.SongCount {
  width: 100px;
}

.PlaylistName {
  width: 100%;
}

.Progress {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.Spinner {
  animation-name: spin;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
